In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

extracted_dict = {
    'course_title': [],
    'course_link': []
}

def extract(page, page_num):
    print(f'Scraping page: {page_num}')
    response = requests.get(page)
    soup = BeautifulSoup(response.content, 'html.parser')
    courses = soup.find_all('article', class_='course-card')
    for course in courses:
        course_title = course.find('h2', class_='course-card-title')
        course_link = course_title.find('a')['href']
        extracted_dict['course_title'].append(course_title.text.strip())
        extracted_dict['course_link'].append(course_link)

for i in range(1,101):
    extract(f'https://www.reed.co.uk/courses/discount?pageno={i}', i)

Scraping page: 1
Scraping page: 2
Scraping page: 3
Scraping page: 4
Scraping page: 5
Scraping page: 6
Scraping page: 7
Scraping page: 8
Scraping page: 9
Scraping page: 10
Scraping page: 11
Scraping page: 12
Scraping page: 13
Scraping page: 14
Scraping page: 15
Scraping page: 16
Scraping page: 17
Scraping page: 18
Scraping page: 19
Scraping page: 20
Scraping page: 21
Scraping page: 22
Scraping page: 23
Scraping page: 24
Scraping page: 25
Scraping page: 26
Scraping page: 27
Scraping page: 28
Scraping page: 29
Scraping page: 30
Scraping page: 31
Scraping page: 32
Scraping page: 33
Scraping page: 34
Scraping page: 35
Scraping page: 36
Scraping page: 37
Scraping page: 38
Scraping page: 39
Scraping page: 40
Scraping page: 41
Scraping page: 42
Scraping page: 43
Scraping page: 44
Scraping page: 45
Scraping page: 46
Scraping page: 47
Scraping page: 48
Scraping page: 49
Scraping page: 50
Scraping page: 51
Scraping page: 52
Scraping page: 53
Scraping page: 54
Scraping page: 55
Scraping page: 56
Scraping page: 57
Scraping page: 58
Scraping page: 59
Scraping page: 60
Scraping page: 61
Scraping page: 62
Scraping page: 63
Scraping page: 64
Scraping page: 65
Scraping page: 66
Scraping page: 67
Scraping page: 68
Scraping page: 69
Scraping page: 70
Scraping page: 71
Scraping page: 72
Scraping page: 73
Scraping page: 74
Scraping page: 75
Scraping page: 76
Scraping page: 77
Scraping page: 78
Scraping page: 79
Scraping page: 80
Scraping page: 81
Scraping page: 82
Scraping page: 83
Scraping page: 84
Scraping page: 85
Scraping page: 86
Scraping page: 87
Scraping page: 88
Scraping page: 89
Scraping page: 90
Scraping page: 91
Scraping page: 92
Scraping page: 93
Scraping page: 94
Scraping page: 95
Scraping page: 96
Scraping page: 97
Scraping page: 98
Scraping page: 99
Scraping page: 100

In [12]:
course_links = pd.DataFrame(extracted_dict)
course_links['course_link'] = 'https://www.reed.co.uk' + course_links['course_link']
print(course_links.head())

                                        course_title  \
0  Level 3 Diploma in Health and Social Care +  C...
1  Microsoft Office Skills (Microsoft Excel, Word...
2  Microsoft Excel Complete Course - Beginner To ...
3  Level 1, 2 & 3 Diploma in Food Hygiene and Saf...
4  Level 2 & 3 Diploma in Health and Social Care ...

                                         course_link
0  https://www.reed.co.uk/courses/level-3-diploma...
1  https://www.reed.co.uk/courses/microsoft-offic...
2  https://www.reed.co.uk/courses/microsoft-excel...
3  https://www.reed.co.uk/courses/level-1-2-3-dip...
4  https://www.reed.co.uk/courses/level-2-3-diplo...

In [13]:
course_links.to_csv('cleaned_course_links.csv', index=False)

In [6]:
import pandas as pd

course_links = pd.read_csv('cleaned_course_links.csv')

course_links.head()

,course_title,course_link
0,Level 3 Diploma in Health and Social Care + C...,https://www.reed.co.uk/courses/level-3-diploma...
1,"Microsoft Office Skills (Microsoft Excel, Word...",https://www.reed.co.uk/courses/microsoft-offic...
2,Microsoft Excel Complete Course - Beginner To ...,https://www.reed.co.uk/courses/microsoft-excel...
3,"Level 1, 2 & 3 Diploma in Food Hygiene and Saf...",https://www.reed.co.uk/courses/level-1-2-3-dip...
4,Level 2 & 3 Diploma in Health and Social Care ...,https://www.reed.co.uk/courses/level-2-3-diplo...

In [7]:
course_links['course_link'] = course_links['course_link'].apply(lambda x: x[:len(x)-18])

course_links.head()

,course_title,course_link
0,Level 3 Diploma in Health and Social Care + C...,https://www.reed.co.uk/courses/level-3-diploma...
1,"Microsoft Office Skills (Microsoft Excel, Word...",https://www.reed.co.uk/courses/microsoft-offic...
2,Microsoft Excel Complete Course - Beginner To ...,https://www.reed.co.uk/courses/microsoft-excel...
3,"Level 1, 2 & 3 Diploma in Food Hygiene and Saf...",https://www.reed.co.uk/courses/level-1-2-3-dip...
4,Level 2 & 3 Diploma in Health and Social Care ...,https://www.reed.co.uk/courses/level-2-3-diplo...

In [8]:
course_links.to_csv('temp.csv', index=False)

In [11]:
course_links['course_id'] = course_links['course_link'].apply(lambda x: x[len(x)-6:])

course_links.head()

course_links.to_csv('id_extracted_links.csv', index=False)

In [3]:
from scrape-reviews import extract_reviews
import pandas as pd

data = pd.read_csv('id_extracted_links.csv')

output = pd.DataFrame({
    'rating': [],
    'review_text': []
})
top_ten = 10
for i in data['course_link']:
    output.concat(extract_reviews(i))
    top_ten -= 1
    if top_ten == 0:
        break

print(output)

SyntaxError: invalid syntax (117107653.py, line 1)